<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090181982580-vuo9gjv8giv97lntoprtooga8ubkssad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090181982580-vuo9gjv8giv97lntoprtooga8ubkssad</string>
	<key>API_KEY</key>
	<string>AIzaSyDctirhU3HG1oOyrp2jqeAG0skO4VtSMpY</string>
	<key>GCM_SENDER_ID</key>
	<string>1090181982580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>felix-its.Firebaseapplication</string>
	<key>PROJECT_ID</key>
	<string>studentinformation-3e7a3</string>
	<key>STORAGE_BUCKET</key>
	<string>studentinformation-3e7a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090181982580:ios:0f7ddf09870ecb1a</string>
	<key>DATABASE_URL</key>
	<string>https://studentinformation-3e7a3.firebaseio.com</string>
</dict>
</plist>